<div class="pipe top" style="@_topPipeCss"></div>
<div class="pipe" style="@_buttomPipeCss"></div>

@code {
    [Parameter] public PipeModel Model { get; set; }

    string _topPipeCss => 
        $"left: {Model.DistanceFromLeft}px; bottom: {Model.DistanceFromBottom + 300 + Model.Gap }px";

    string _buttomPipeCss => 
        $"left: {Model.DistanceFromLeft}px; bottom: { Model.DistanceFromBottom}px";
}
